.main_chat 
  .main_chat__group
    .main_chat__group-name
      = @group.name
      .main_chat__group-name-member
        - @group.users.each do |user|
          = user.name
    .main_chat__group-edit
      .main_chat__group-edit-btn
        = link_to 'Edit', edit_group_path(@group)
  .main_chat__list
    .main_chat__list-first
      .main_chat__list-first-name
        %p masa
      .main_chat__list-first-moment
        %p 2019/11/20(Wed) 17:43:01
    .main_chat__list-message
      %p おはよう！
    .main_chat__list-additional
      .main_chat__list-additional-name
        %p masa
      .main_chat__list-additional-moment
        %p 2019/11/20(Wed) 17:43:34
    .main_chat__list1-message
      %p こんにちわ
  .main_chat__message
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
