.main_chat 
  .main_chat__group
    .main_chat__group-name
      = @group.name
      .main_chat__group-name-member
        - @group.users.each do |user|
          = user.name
    .main_chat__group-edit
      .main_chat__group-edit-btn
        = link_to 'Edit', edit_group_path(@group)

  .main_chat__list
    = render @messages
   
    -# .main_chat__list-contents
    -#   .main_chat__list-contents-name
    -#   .main_chat__list-contents-moment
    -# .main_chat__list-contents-message

  .main_chat__message
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
